.button {
    -fx-background-color: transparent;
}

#buttonAll:hover, #buttonAnarchy:hover,
#buttonTurf:hover, #buttonX:hover,
#buttonPrivate:hover, #buttonChallenge:hover,
#buttonRefresh:hover {
    -fx-background-color: #AAAAAA;
    -fx-cursor: hand;
}

#matchList {
    -fx-background-color: #292e35;
}

.game {
    -fx-background-color: #141126;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-padding: 0 0 0 10;
}

.game:hover {
    -fx-cursor: hand;
}


/* Remove thumb and arrows from both vertical and horizontal scroll bars */
.scroll-pane .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button,
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button,
.scroll-pane .scroll-bar:horizontal .increment-button,
.scroll-pane .scroll-bar:horizontal .decrement-button,
.scroll-pane .corner {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

/* Make arrows transparent for both vertical and horizontal scroll bars */
.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow,
.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow,
.scroll-pane .scroll-bar:horizontal .increment-arrow,
.scroll-pane .scroll-bar:horizontal .decrement-arrow {
    -fx-opacity: 0;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #888888;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 20px;
    -fx-background-color: #292e35;
    -fx-border-color: #b4b4b4;
    -fx-border-width: 3px;
}

.selected {
    -fx-background-color: #888888;
}